@font-face {
  font-family: Roboto-Regular;
  src: url(./Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(./Roboto-Bold.ttf);
}

:root {
  --text-color: #0b0c17;
  --number-color: #dddddd;
  --link-color: #ff3571;
  --effect-color: #3c30ff;
  --white-color: #fff;
  --black-color: #000;
  --space-mobile: 6.8rem;
  --space-desktop: 15rem;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto-Bold";
  color: var(--text-color);
}

h1 {
  font-size: clamp(6rem, 7vw, 7.2rem);
  margin: 0 0 3rem 0;
}

h2 {
  font-size: clamp(5.5rem, 6vw, 6.2rem);
}

h3 {
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  margin: 0 0 2rem 0;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-family: "Roboto-Regular";
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  line-height: clamp(3.6rem, 4vw, 4.2rem);
  color: var(--text-color);
}

input {
  font-family: "Roboto-Regular";
  font-size: 2rem;
  border: none;
}

/* header */

header {
  height: 100vh;
  background: url(./ilustracion1.png) no-repeat right top;
  background-size: 55%;
  padding: 4rem 0 0 0;
}

header div img {
  width: 40px;
  position: fixed;
  left: 4rem;
}

.logo {
  padding: 0 9rem;
}

.logo p {
  font-family: "Roboto-Bold";
  font-size: 1.2rem;
  line-height: normal;
}

header section {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 5rem var(--space-desktop);
}

header section p {
  font-size: clamp(2rem, 2.4vw, 2.6rem);
  margin: 0 0 14rem 0;
}

header section a {
  font-family: "Roboto-Bold";
  font-size: 1.4rem;
  color: var(--link-color);
}

header .people {
  width: 50%;
  position: absolute;
  top: 2rem;
  right: 3rem;
}

/* main */

/* images section */

.images {
  max-height: 100vh;
  padding: 0 0 12rem 0;
}

/* idea section */

.idea {
  min-height: 60vh;
  display: flex;
  gap: clamp(7rem, 8vw, 8.2rem);
  padding: 0 10rem 10rem var(--space-desktop);
}

.idea h2 {
  width: 45%;
}

.idea img {
  width: 50px;
  position: sticky;
}

.idea p {
  width: 55%;
}

/* weeks section */

.weeks {
  min-height: 50vh;
  width: 65%;
  padding: 0 0 10rem var(--space-desktop);
}

/* icons section */

.icons {
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(8.5rem, 10vw, 10.2rem);
  padding: 0 0 0 var(--space-desktop);
  margin: 0 0 5rem 0;
}

.icons img {
  width: 3rem;
}

.icons article {
  width: 40%;
  display: flex;
  align-items: flex-start;
  gap: clamp(3rem, 4vw, 4.2rem);
}

/* ready section */

.ready {
  min-height: 45vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(2rem, 3vw, 3.2rem);
  padding: 0 var(--space-desktop);
}

/* numbers sections */

.numbers {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(8rem, 12vw, 12.2rem);
  padding: 0 var(--space-desktop);
}

.numbers:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.numbers img {
  width: 45%;
}

.numbers h2 {
  color: var(--number-color);
  font-size: clamp(6.4rem, 7vw, 7.2rem);
  margin: 0 0 6rem 0;
}

.numbers article img {
  width: 50px;
  margin: 0 0 2rem 0;
}

/* subscribe section */

.subscribe {
  min-height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 10rem 0 10rem 0;
}

input[type="text"] {
  width: 50rem;
  height: 7rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  text-align: center;
}

input[type="submit"] {
  width: 25rem;
  height: 6rem;
  border-radius: 0.5rem;
  background-color: var(--link-color);
  color: var(--white-color);
}

/* footer */

footer {
  padding: 0 0 1rem var(--space-desktop);
}

footer p {
  display: inline-block;
  font-size: 1.6rem;
}

footer img {
  width: 30px;
}

/* animations & effects */

@keyframes people {
  0%,
  100% {
    top: 2rem;
  }
  50% {
    top: 0.7rem;
  }
}

header .people {
  animation: people 1.5s ease-in-out infinite;
}

input[type="submit"]:hover {
  background: linear-gradient(45deg, var(--link-color), var(--effect-color));
}

/* mediaqueries  */

@media only screen and (max-width: 768px) {
  header div img {
    width: 30px;
    left: 2.5rem;
  }
  .logo p {
    font-size: 0.8rem;
  }
  .logo {
    padding: 0 var(--space-mobile);
  }
  h4 {
    font-size: 2rem;
  }
  header section {
    width: 100%;
    margin: 5rem 0;
    padding: 0 5rem 5rem var(--space-mobile);
  }
  .idea {
    flex-direction: column;
    padding: 0 var(--space-mobile) 10rem var(--space-mobile);
  }
  .idea h2 {
    width: 100%;
  }
  .idea p {
    width: 100%;
  }
  .weeks {
    width: 100%;
    padding: 0 var(--space-mobile);
  }
  .icons {
    flex-direction: column;
    padding: 0 var(--space-mobile) 0 var(--space-mobile);
    gap: 5rem;
  }
  .icons article {
    width: 100%;
  }
  .ready {
    padding: 0 var(--space-mobile);
  }
  .numbers {
    flex-direction: column;
    gap: 4rem;
    padding: 4rem var(--space-mobile);
  }
  .numbers:nth-of-type(odd) {
    flex-direction: column;
  }
  .numbers img {
    width: 80%;
  }
  .numbers article img {
    width: 35px;
  }
  footer {
    padding: 0 0 1rem 2rem;
  }
}
